// Base Font
// ===================================================================================
$base-font-family: Arial, Helvetica, sans-serif;
$base-font-color: #808080;

// Custom Fonts
// ===================================================================================

// Base Colors
// ===================================================================================
$alert-error: #b94a48;
$alert-info: #3a87ad;
$black: #000;
$gray: #bbb;
$lite-gray: #eee;
$white: #fff;

// Custom Colors
// ===================================================================================